@{
    ViewData["Title"] = "Home Page";
}
<style>
    li{
    list-style: none;
    font-size: 2rem;
    margin-bottom: 1rem;
    }
</style>
 
<div class="text-center">
    <h1 class="display-4">Agile Venture Firenze 2019</h1>

     
    
    <ul>
        
    
    
    <li>@Html.ActionLink("A Journey to Microservices Architecture", "Votazione","Home",new{key="Journey"})</li>
    <li>@Html.ActionLink("ché la diritta via era smarrita.", "Votazione","Home",new{key="drittaVia"})</li>
    <li>@Html.ActionLink("Cosa può insegnarci FizzBuzz sul design", "Votazione","Home",new{key="fizzBuzz"})</li>
    <li>@Html.ActionLink("Drivers! Le risorse che non ti aspetti", "Votazione","Home",new{key="drivers"})</li>
    <li>@Html.ActionLink("Human side of Agile", "Votazione","Home",new{key="human"})</li>
    <li>@Html.ActionLink("Lean Value Tree e Domain Driven Design come pratica agile per fare Ricerca e Innovazione", "Votazione","Home",new{key="LeanValueTree"})</li>
    <li>@Html.ActionLink("Metafora: la pratica perduta di eXtreme Programming", "Votazione","Home",new{key="xp"})</li>
    <li>@Html.ActionLink("My Story with Open Source", "Votazione","Home",new{key="os"})</li>
    <li>@Html.ActionLink("Nella mente di un alchimista", "Votazione","Home",new{key="alchimista"})</li>
    <li>@Html.ActionLink("Open Governance, un caso reale", "Votazione","Home",new{key="gov"})</li>
    <li>@Html.ActionLink("Outside-In development guided by tests", "Votazione","Home",new{key="outsidein"})</li>
    <li>@Html.ActionLink("Scrumming our HR transformation: un insolito case study", "Votazione","Home",new{key="hr"})</li>
    <li>@Html.ActionLink("Stable teams over temporary endeavor", "Votazione","Home",new{key="stable"})</li>
    <li>@Html.ActionLink("Test-Driven Infrastructure with Ansible", "Votazione","Home",new{key="ansible"})</li>
    <li>@Html.ActionLink("Testare l'intestabile", "Votazione","Home",new{key="intestabile"})</li>
    <li>@Html.ActionLink("Una nuova teoria del cambiamento", "Votazione","Home",new{key="change"})</li>
    </ul>
    
</div>
